body{

font-family:Arial;
background:#020617;
color:white;
padding:30px;

}

.container{

max-width:900px;
margin:auto;

}

.question{

background:#0f172a;
padding:20px;
margin:15px 0;
border-radius:10px;
border:1px solid #1e293b;

}

.question:hover{

border:1px solid #3b82f6;

}

.correct{

border:2px solid #22c55e;

}

.wrong{

border:2px solid #ef4444;

}

label{

display:block;
margin:6px;
cursor:pointer;

}

button{

background:#22c55e;
border:none;
padding:12px;
color:white;
border-radius:8px;
cursor:pointer;
margin:10px;
font-size:16px;

}

.reload{

background:#3b82f6;

}

.result{

font-size:26px;
text-align:center;
margin-top:20px;

}

.exp{

color:#94a3b8;
font-size:14px;
margin-top:10px;

}

#progress{

background:#1e293b;
height:10px;
border-radius:10px;

}

#bar{

height:10px;
background:#22c55e;
width:0%;
border-radius:10px;

}