body {
    font-family: Arial;
    background: linear-gradient(135deg, #0f172a, #1e293b);
    color: white;
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;
}

.container {
    background: #1e293b;
    padding: 30px;
    border-radius: 15px;
    width: 500px;
    text-align: center;
    box-shadow: 0 0 20px rgba(0,0,0,0.5);
}

button {
    margin: 10px;
    padding: 10px;
    border: none;
    border-radius: 8px;
    cursor: pointer;
    width: 80%;
    transition: 0.3s;
}

button:hover {
    transform: scale(1.05);
}

.correct {
    background: #22c55e;
}

.wrong {
    background: #ef4444;
}

#nextBtn {
    background: #3b82f6;
    color: white;
}

.hidden {
    display: none;
}